<div class="main">
  <h1 class="title-h1">Ingeniero de Sistemas | Backend Developer</h1>
  <p>Soy Ingeniero de Sistemas con énfasis en programación
    web. Cuento con cerca de dos años de experiencia como
    desarrollador Backend, participando en todas las etapas del
    desarrollo de software. Me destaco por mi enfoque
    organizado y metódico. Obtuve una beca universitaria de
    pregrado, mención de honor en tesis de grado y fui
    promovido en mi primer empleo en menos de un año gracias
    a mi desempeño.
  </p>
</div>