:host {
  height: 75%;
  display: block;
}

.main {
  text-align: center;
  height: 100%;
  padding: 50px 70px;
}

mat-grid-list {
  margin: 30px;
}

img {
  width: 100%;
  height: auto;
}

.gallery {
  padding: 10px;
}
