<div class="main">
  <h1 class="title-h1">Projects</h1>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <div class="gallery">
        <a href=""><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/800px--Insert_image_here-.svg.png"
            alt=""></a>
        This is a title of a project
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="gallery">
        <a href=""><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/800px--Insert_image_here-.svg.png"
            alt=""></a>
        This is a title of a project
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="gallery">
        <a href=""><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/800px--Insert_image_here-.svg.png"
            alt=""></a>
        This is a title of a project
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="gallery">
        <a href=""><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/800px--Insert_image_here-.svg.png"
            alt=""></a>
        This is a title of a project
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="gallery">
        <a href=""><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/800px--Insert_image_here-.svg.png"
            alt=""></a>
        This is a title of a project
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="gallery">
        <a href=""><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/800px--Insert_image_here-.svg.png"
            alt=""></a>
        This is a title of a project
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>