<div class="main">
  <h1 class="title-h1">Contacto</h1>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <div class="gallery">
        <a href="https://www.linkedin.com/in/brandonn-cruz/"><img src="assets/images/LinkedIn-Logos/LI-In-Bug.png"
            alt=""></a>
        https://www.linkedin.com/in/brandonn-cruz/
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="gallery">
        <a href="mailto: brandonn9898@gmail.com"><img src="assets/images/gmail.png" alt=""></a>
        brandonn9898@gmail.com
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="gallery">
        <a href="https://wa.me/+573333333333"><img src="assets/images/whatsapp-g7f7ba7d67_1280.png" alt=""></a>
        +57 333 333 3333
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>