<mat-toolbar color="primary" class="mat-typography">
  <button mat-button (click)="redirect('')"><h1>Brandonn Cruz</h1></button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

<span class="item-margin">
  <button mat-button (click)="redirect('about')"><span>Sobre mí</span></button>
  <button mat-button (click)="redirect('blog')"><span>Blog</span></button>
  <button mat-button (click)="redirect('projects')"><span>Proyectos</span></button>
  <button mat-button (click)="redirect('contact')"><span>Contacto</span></button>
</span>
</mat-toolbar>

<router-outlet></router-outlet>
