<div class="main">
  <h1 class="title-h1">Blog</h1>

  <div class="blog" routerLink="/blog/load-balancer-with-node-docker-ngingx">
    <h1>Balanceador de carga con NodeJS, Docker y Nginx</h1>
    <p>En esta ocasión, voy a compartir con ustedes un pequeño experimento en el cual compararemos el rendimiento de una
      aplicación ejecutada en NodeJS, contra un balanceador de carga el cual redirigirá a dos instancias de la misma
      aplicación. Simularemos un endpoint el cual tenga que hacer múltiples cálculos, por lo cual el proceso será
      bloqueante para la aplicación.
    </p>
  </div>
  <mat-divider></mat-divider>
</div>